{% extends "::base.html.twig" %}

{% block title %}AppBundle:BusinessCreditScoreController:report{% endblock %}

{% block body %}

    <div class="widget-9 panel no-border no-margin widget-loader-bar" style="background-color: {{ report.rating.color }}">
        <div class="container-xs-height full-height" style="text-align: center">
            {#<div class="row-xs-height">#}
                {#<div class="col-xs-height col-top">#}
                    {#<div class="panel-heading  top-left top-right">#}
                        {#<div class="panel-title text-white">#}
                            {#<span class="font-montserrat fs-11 all-caps">Business Credit Score</span>#}
                        {#</div>#}
                        {#<div class="panel-controls">#}
                            {#<ul>#}
                                {#<li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="row-xs-height" style="color: white;">
                <div class="col-xs-height col-top">
                    <div class="p-l-20 p-t-15">
                        <h1 class="no-margin p-b-5 text-white">{{ report.rating.description }}</h1>
                        <span class="hint-text large">{{ report.rating.score }}% Chance of Being Granted a Loan</span>
                    </div>
                </div>
            </div>
            <div class="row-xs-height">
                <div class="col-xs-height col-bottom">
                    <div class="progress progress-small m-b-20">

                        <div class="progress-bar progress-bar-white" style="width:{{ report.rating.score }}%"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if report.loan %}
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel no-border no-margin widget-loader-bar">
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="panel-heading  top-left top-right">
                                    <div class="panel-title text-black">
                                        <span class="font-montserrat fs-11 all-caps">Maximum Loanable Amount</span>
                                    </div>
                                    <div class="panel-controls">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="p-l-20 p-t-60 p-b-40 p-r-20">
                                    <h1 class="no-margin p-b-5">P {{ report.loan.maxLoanableAmount }}</h1>
                                    <span class="hint-text">Based on your financial data, this is the maximum amount you can borrow.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height">
                            <div class="col-xs-height col-bottom">
                                <div class="progress progress-small m-b-0">
                                    <div class="progress-bar progress-bar-success" style="width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel no-border no-margin widget-loader-bar">
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="panel-heading  top-left top-right">
                                    <div class="panel-title text-black">
                                        <span class="font-montserrat fs-11 all-caps">Loan Term</span>
                                    </div>
                                    <div class="panel-controls">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="p-l-20 p-t-60 p-b-40 p-r-20">
                                    <h1 class="no-margin p-b-5">{{ report.loan.loanTerm }} years</h1>
                                    <span class="hint-text">This is the maximum number of years for your loan.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height">
                            <div class="col-xs-height col-bottom">
                                <div class="progress progress-small m-b-0">
                                    <div class="progress-bar progress-bar-success" style="width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <h5 style="text-align: center;">Details</h5>
    <hr>

    {% for recommendation in report.recommendations %}
    <div class="panel panel-default">
        <div class="panel-heading separator">
            <div class="panel-title">
                {{ recommendation.category }}
            </div>
        </div>
        <div class="panel-body">
            <h3>
                <span class="semi-bold">{{ recommendation.lead }}</h3>
            <p>{{ recommendation.details }}</p>
        </div>
    </div>
    {% endfor %}





{% endblock %}
