{% extends 'base.html.twig' %}

{% block body %}
    <!-- START CONTAINER FLUID -->
    <div class="panel">
        <ul class="nav nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="collapse">
            <li {{ tab_name == 'cash_flow' ? 'class="active"' : '' }}><a href="{{ path('fs-cash_flow') }}">Cash Flow</a>
            </li>
            <li {{ tab_name == 'sales' ? 'class="active"' : '' }}><a href="{{ path('fs-sales') }}">Sales</a>
            </li>
            <li {{ tab_name == 'expenses' ? 'class="active"' : '' }}><a href="{{ path('fs-expenses') }}">Expenses</a>
            </li>
            <li {{ tab_name == 'reports' ? 'class="active"' : '' }}><a href="{{ path('fs-reports') }}">Reports</a>
            </li>
            <li {{ tab_name == 'imports' ? 'class="active"' : '' }}><a href="{{ path('fs-imports') }}">Imports</a>
            </li>
        </ul>
        <div class="tab-content">
            {% include 'AppBundle::FinancialStatement/' ~ tab_name ~ '.html.twig' %}
        </div>
    </div>
{% endblock %}
